<div class="input-div">
  <p><i class="arrow down" onclick={{action @doneAllTodos}}></i></p>
  <input autofocus='on' value={{inputValue}} onkeyup={{action @addTodos}} type="text"
    placeholder="What needs to be done?" class="todo-input">
</div>