<div class="filter-buttons">
  <div class="filter-btn" onclick={{action @setType 'all'}}>All</div>
  <div class="filter-btn" onclick={{action @setType 'active'}}>Active</div>
  <div class="filter-btn" onclick={{action @setType 'completed'}}>Completed</div>
  <div class="remove-done" onclick={{action @removeAllDoneTodos}}>Remove completed</div>
</div>